# For managing big data files

# Atlantic salmon parameters
atlantic_salmon/data_products/model_outputs*
atlantic_salmon/data_products/processed*
atlantic_salmon/data_products/total_*


# Data sourced from other publications
_general_data/background_nitrogen/halpern_2019/*
_general_data/background_nitrogen/tuholske_2021/*
_general_data/background_nitrogen/*.tif
_general_data/species_layers/butt_2022/*
_general_data/species_layers/from_aquamaps/*

